$small: 1rem;
$sans: Arial, sans-serif;

@mixin fonts {
  // similar to defining a function and use it in multiple places
  font: {
    size: $small;
    weight: 500;
    family: $sans;
  }
}

@mixin transitProps($val) {
  //when you add (), it allow's you to pass values into it.
  opacity: $val;
  transform: scale($val);
}
@mixin transit($props...) {
  // It's similar to using "rest operator" in JavaScript,( $props... )
  -webkit-transition: $props;
  transition: $props;
}

p {
  @include fonts; //using fonts method
  @include transitProps(1);
  @include transit(opacity 0.5s, transform0.4s);
}
p.leave {
  @include fonts;
  @include transitProps(0);
  @include transit(opacity 0.6s, transform0.7s);
}
