@import "functions.scss";

#lorem {
  color: red;
  font-size: double(2);
}
#fsItalic {
  @extend #lorem;
  font-family: "Courier New", Courier, monospace;
}

#fvSmallCaps {
  @extend #fsItalic;
  background-color: darkslategray;
}
