@import "vars";

@mixin fonts {
  font-size: $small;
  font-family: $sans;
}
@mixin transit($props...) {
  // It's similar to using "rest operator" in JavaScript,( $props... )
  -webkit-transition: $props;
  transition: $props;
}

p {
  @include fonts;
}
h2 {
  font-size: $medium;
}
ul li a.sitelink {
  color: brown;
  @include transit(opacity 0.5s, transform0.4s);
}
