@import "vars";

@mixin fonts {
  font-size: $small;
  font-family: $sans;
}
@mixin transit($props...) {
  // It's similar to using "rest operator" in JavaScript,( $props... )
  -webkit-transition: $props;
  transition: $props;
}

@mixin colors {
  color: black;
  background-color: gold;
}

div * {
  font-family: $sans_1;
}
p {
  @include fonts;
}
h2 {
  font-size: $medium;
}
ul li a.sitelink {
  color: brown;
  @include transit(opacity 0.5s, transform0.4s);
}

#tutorials ol li {
  color: green;
}
h3 + p {
  font-style: italic;
}
h3 + p > a {
  @include colors;
}
p[class] {
  @include colors;
}
