%placeHolder {
  position: relative;
  background-color: darkolivegreen;
  color: darkslategray;
}

#parent-div {
  @extend %placeHolder;
}

//Using interpolation
$b: "border";
$s: "center";

#top-left-pos {
  #{$b}: 1px solid red;
  text-align: #{$s};
}
